*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #031116;
    height: 100vh;
    background-size: cover;
    width: 100%;
    position: relative;
    background-image: url('../images/bg40.png'), url('../images/bg20.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.logo{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.nav1{
    position: absolute;
    left: -10%;
}
.nav2{
    position: absolute;
    right: -10%;
}
.nav3{
    position: absolute;
    left: -10%;
    bottom: 0%;
}
.nav4{
    position: absolute;
    right: -10%;
    bottom: 0%;
}
.nav1, .nav2, .nav3, .nav4{
    opacity: 0;
}
.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover{
    opacity: 1;
    transition: 1s;
}

#works{
    background-color: #031116;
    background-image: url('../images/bg_riq.png'), url('../images/works_bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
}
#works h2{
    color: #ffffff;
    font-family: copperplate;
    font-size: 140px;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
}
.samune{
    display: flex;
    overflow-x: scroll;
    padding-left: 100px;
}
.samune img{
    width: 45%;
    margin: 50px 10px 0;
}

.portfolio{
    margin-top: 140px;
    padding-bottom: 50px;
}
#works a{
    color: #000000;
    font-size: 15px;
    font-family: futura;
    text-decoration: none;
    background-color: #ffffff;
    padding: 8px 64px;
    border-radius: 15px;
    text-align: center;
    margin: 30%;
}
#works a:hover{
    color: #ffffff;
    background-color: #ff0089;
    transition: 0.5s;
}

p{
    color: #ffffff;
}

.main{
    background-color: #031116;
    padding: 30px;
    background-image: url('../images/bg40.png'), url('../images/bg20.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

#news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.news-slide{
    padding: 50px;
    padding-right: 100px;
}
.fadeslide {
	position: relative;
	width: 480px;
    height: 270px;
	overflow: hidden;
	z-index: 0;
}
.fadeslide img{
    width: 100%;
}
.fadeslide div {
	position: absolute;
	top: 0;
	left: 0;
}
.fadeslide div:nth-of-type(1) {
	animation: fadeslide 24s 0s infinite both;
	z-index: 6;
}
.fadeslide div:nth-of-type(2) {
	animation: fadeslide 24s 8s infinite both;
	z-index: 5;
}
.fadeslide div:nth-of-type(3) {
	animation: fadeslide 24s 16s infinite both;
	z-index: 4;
}
@keyframes fadeslide {
	0% { left: 0; opacity: 0; }
	5% { left: 0; opacity: 1; }
	20% { left: 0; opacity: 1; }
	25% { left: 0; opacity: 0; }
	26% { left: 100%; opacity: 0; }
	100% { left: 100%; opacity: 0; }
}

#about{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.exp{
    margin: 60px 0;
}
.text{
    padding-left: 120px;
    width: 40%;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 10px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gf{
    text-align: center;
}
.gf a{
    color: #ffffff;
    font-size: 24px;
    font-family: futura;
    text-decoration: none;
    border: #ffffff solid 3px;
    padding: 20px 22%;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
}
.gf a:hover{
    color: #031116;
    background-color: #ffffff;
    transition: 0.5s;
}
.button h3{
    font-size: 30px;
    font-family: futura;
    margin: 75px auto 10px;
    color: #ffffff;
    text-decoration: underline;
}
.sns{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.sns a{
    text-decoration: none;
    border-bottom: #031116 solid 10px;
}
.sns p{
    font-family: futura;
    font-size: 15px;
}

.sns a:hover{
    border-bottom: #ffffff solid 10px;
    transition: 0.5s;
}


footer{
    background-color: #ff0089;
    text-align: center;
}

@media screen and (max-width:1200px){
    .news-slide{
        padding-right: 50px;
    }
}
@media screen and (max-width:1259px){
    .exp{
        margin: 30px 0;
        text-align: center;
    }
    .text{
        padding-left: 0px;
        width: 100%;
        padding-bottom: 100px;
    }
}
@media screen and (min-width:581px) {
    #nav-drawer {
      display:none;
    }
}
@media screen and (max-width:580px){
    .logo{
        width: 100%;
    }
    .nav1, .nav2, .nav3, .nav4{
        width: 0;
    }
    .fadeslide {
        width: 320px;
        height: 180px;
        overflow: hidden;
        z-index: 0;
    }
    #nav-drawer {
        position: relative;
    }
      
    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }
      
    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }
      
    /*ハンバーガーの形をCSSで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
      
    /*閉じる用の薄黒箇所*/
    #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }
      
    /*メニューの中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;/*最大幅（お好みで調整を）*/
        height: 100%;
        background: #ff0089;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }
    #nav-content li{
        margin: 20px;
        list-style: none;
    }
    #nav-content a{
        color: #ffffff;
        font-family: copperplate;
        font-size: 30px;
        text-decoration: none;
        margin: 20px;
    }
    #nav-content a:hover{
        text-decoration: underline;
        transition: 0.5s;
    }
      
    /*チェックがついたら表示させる*/
    #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
    }
      
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
      
    .header-logo-menu{
       display: flex;
       display: -moz-flex;
       display: -o-flex;
       display: -webkit-flex;
       display: -ms-flex;
       flex-direction: row;
       -moz-flex-direction: row;
       -o-flex-direction: row;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
       padding: 20px;
    }
      
    /*ロゴやサイトタイトルをセンタリング*/
    .logo-area{text-align:center;margin:auto;}

    #works h2{
        font-size: 80px;
        padding-top: 30px;
    }
    #works a{
        padding: 8px 50px;
        border-radius: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .portfolio{
        margin-top: 80px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width:540px){
    .button{
        padding: 10px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gf{
        text-align: center;
    }
    .gf a{
        color: #ffffff;
        font-size: 18px;
        font-family: futura;
        text-decoration: none;
        border: #ffffff solid 3px;
        padding: 10px 12%;
        border-radius: 15px;
        margin: 0 auto;
        display: inline-block;
    }
    .button h3{
        font-size: 20px;
        font-family: futura;
        margin: 75px auto 10px;
        color: #ffffff;
        text-decoration: underline;
    }
    .sns{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .sns a{
        text-decoration: none;
        border-bottom: #031116 solid 10px;
    }
    .sns p{
        font-family: futura;
        font-size: 10px;
    }
    .snssp{
        width: 100%;
    }
}
@media screen and (max-width:479px){
    .samune{
        display: flex;
        overflow-x: scroll;
        padding-left: 0px;
    }
    .samune img{
        width: 90%;
        margin: 50px 10px 0;
    }
    .sp{
        width: 100%;
    }
}

