*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #031116;
    height: 100vh;
    background-size: cover;
    width: 100%;
    position: relative;
    background-image: url('../images/bg40.png'), url('../images/bg20.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.logo{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.nav01{
    position: absolute;
    top: -10%;
    left: -10%;
}
.nav02{
    position: absolute;
    top: -10%;
    right: -10%;
}
.nav03{
    position: absolute;
    left: -10%;
    bottom: -10%;
}
.nav04{
    position: absolute;
    right: -10%;
    bottom: -10%;
}
.nav01, .nav02, .nav03, .nav04{
    opacity: 0.7;
}
.nav1{
    position: absolute;
    top: -10%;
    left: -10%;
}
.nav2{
    position: absolute;
    top: -10%;
    right: -10%;
}
.nav3{
    position: absolute;
    left: -10%;
    bottom: -10%;
}
.nav4{
    position: absolute;
    right: -10%;
    bottom: -10%;
}
.nav1, .nav2, .nav3, .nav4{
    opacity: 0;
}
.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover{
    opacity: 1;
    transition: 1s;
}
#header .nav-slide, #header .fadeslide{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
.fadeslide div:nth-of-type(1) {
	animation: fadeslide 16s 0s infinite both;
	z-index: 6;
}
.fadeslide div:nth-of-type(2) {
	animation: fadeslide 16s 4s infinite both;
	z-index: 5;
}
.fadeslide div:nth-of-type(3) {
	animation: fadeslide 16s 8s infinite both;
	z-index: 4;
}
.fadeslide div:nth-of-type(4) {
	animation: fadeslide 16s 12s infinite both;
	z-index: 3;
}
@keyframes fadeslide {
	0% { left: 0; opacity: 0.2; }
	5% { left: 0; opacity: 1; }
	20% { left: 0; opacity: 1; }
	25% { left: 0; opacity: 0.2; }
	26% { left: 100%; opacity: 0.2; }
	100% { left: 100%; opacity: 0.2; }
}

#works{
    background-color: #031116;
    background-image: url('../images/bg_riq.png'), url('../images/works_bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
}
#works h2{
    color: #ffffff;
    font-family: copperplate;
    font-size: 140px;
    font-weight: normal;
    text-align: center;
    padding-top: 30px;
}
.wrap{
    margin-top: 50px;
    overflow-x: scroll;
}
.samune{
    width: 45%;
    border-collapse: collapse;
    white-space: nowrap;
    padding-left: 3%;
}
.sakuhin{
    position: relative;
    margin: 50px 10px 0;
}
.samune a{
    width: 100%;
}
.samune img{
    width: 100%;
}
.samune .hover{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 10%;
    z-index: 3;
    opacity: 0;
}
.samune .hover:hover{
    opacity: 1;
    transition: 0.3s;
}

.portfolio{
    margin-top: 140px;
    padding-bottom: 50px;
}
.portfolio a{
    color: #000000;
    font-size: 15px;
    font-family: futura;
    text-decoration: none;
    background-color: #ffffff;
    padding: 8px 64px;
    border-radius: 15px;
    text-align: center;
    margin: 30%;
}
.portfolio a:hover{
    color: #ffffff;
    background-color: #ff0089;
    transition: 0.5s;
}

.visible-one {
    opacity: 0;
    transition: transform 0.5s linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    transform: translate(0, 10%);
}
/*　brightness　*/
.effect {
    animation-name: imgbrightness;
    opacity: 1;
    transition: 1s;
    transform: translate(0, 0);
}
@keyframes imgbrightness {
    0% {
      opacity: 0;
      filter: brightness(300%);
      /*　明度300%　*/
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
      /*　100%が基準値　*/
    }
}

p{
    color: #ffffff;
}

.main{
    background-color: #031116;
    padding: 30px;
    background-image: url('../images/bg40.png'), url('../images/bg20.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

.sp {
    opacity: 0;
    transition: transform 0.5s linear;
    animation-duration: 2s;
    animation-fill-mode: both;
}
/*　brightness　*/
.effect {
    animation-name: imgbrightness;
    opacity: 1;
    transition: 1s;
}
@keyframes imgbrightness {
    0% {
      opacity: 0;
      filter: brightness(300%);
      /*　明度300%　*/
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
      /*　100%が基準値　*/
    }
}
.visible1 {
    opacity: 0;
    transition: transform 0.5s linear;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    transform: translate(-10%, 0);
}
/*　brightness　*/
.effect {
    animation-name: imgbrightness;
    opacity: 1;
    transition: 1s;
    transform: translate(0, 0);
}
@keyframes imgbrightness {
    0% {
      opacity: 0;
      filter: brightness(300%);
      /*　明度300%　*/
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
      /*　100%が基準値　*/
    }
}
.visible2 {
    opacity: 0;
    transition: transform 0.5s linear;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    transform: translate(10%, 0);
}
/*　brightness　*/
.effect {
    animation-name: imgbrightness;
    opacity: 1;
    transition: 1s;
    transform: translate(0, 0);
}
@keyframes imgbrightness {
    0% {
      opacity: 0;
      filter: brightness(300%);
      /*　明度300%　*/
    }
    100% {
      opacity: 1;
      filter: brightness(100%);
      /*　100%が基準値　*/
    }
}

#news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.newslist{
    margin: 0 auto;
    padding: 10px;
    padding-top: 30px;
    width: 480px;
}
.slider{
    width: 100%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #ffffff;
}
.lb {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: .3s opacity ease;
    pointer-events: none;
    z-index: 100;
}
.lb img {
    width: auto !important;
    max-width: 100%;
    max-height: 100%!important;
    cursor: pointer;
}
.lb img,
.lb iframe {
    transform: scale(.85);
    transition: .3s all ease;
}
.lb:target {
    opacity: 1;
    pointer-events: auto;
    z-index: 101;
}
.lb:target img,
.lb:target iframe {
    transform: scale(1);
}
/* なんちゃって閉じるボタン*/
.lb::before,.lb::after {
    display: block;
    position: fixed;
    content: "";
    width: 24px;
    height:3px;
    top: 24px;
    right: 12px;
    background: #fff;
    border-radius: 4px;
}
.lb::before {
    transform: rotate(-315deg);
    z-index: 102;
}
.lb::after {
    transform: rotate(315deg);
    z-index: 102;
}

#about{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.aboutlist{
    margin: 0 auto;
    width: 500px;
}
.text{
    margin: 0 auto;
    width: 375px;
}
.exp{
    margin: 60px 0;
}

#contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button{
    margin: 0 auto;
    padding: 10px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gf{
    text-align: center;
}
.gf a{
    color: #ffffff;
    font-size: 24px;
    font-family: futura;
    text-decoration: none;
    border: #ffffff solid 3px;
    padding: 20px 22%;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
}
.gf a:hover{
    color: #031116;
    background-color: #ffffff;
    transition: 0.5s;
}
.button h3{
    font-size: 30px;
    font-family: futura;
    margin: 75px auto 10px;
    color: #ffffff;
    text-decoration: underline;
}
.sns{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.sns a{
    text-decoration: none;
    border-bottom: #031116 solid 10px;
}
.sns p{
    font-family: futura;
    font-size: 15px;
}

.sns a:hover{
    border-bottom: #ffffff solid 10px;
    transition: 0.5s;
}


footer{
    background-color: #ff0089;
    text-align: center;
}


@media screen and (max-width:1059px){
    .sp{
        width: 80%;
    }
    .newslist{
        width: 80%;
        margin-bottom: 300px;
    }
    .aboutlist{
        width: 80%;
        margin-bottom: 300px;
    }
    .text{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .button{
        width: 50%;
    }
}
@media screen and (min-width:581px) {
    #nav-drawer {
      display:none;
    }
}
@media screen and (max-width:580px){
    .logo{
        width: 100%;
    }
    .nav1, .nav2, .nav3, .nav4, .nav01, .nav02, .nav03, .nav04{
        width: 0;
    }
    #nav-drawer {
        position: relative;
    }
      
    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display:none;
    }
      
    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
    }
      
    /*ハンバーガーの形をCSSで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
    }
    #nav-open span:before {
        bottom: -8px;
    }
    #nav-open span:after {
        bottom: -16px;
    }
      
    /*閉じる用の薄黒箇所*/
    #nav-close {
        display: none;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }
      
    /*メニューの中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 90%;
        max-width: 330px;/*最大幅（お好みで調整を）*/
        height: 100%;
        background: #ff0089;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }
    #nav-content li{
        margin: 20px;
        list-style: none;
    }
    #nav-content a{
        color: #ffffff;
        font-family: copperplate;
        font-size: 30px;
        text-decoration: none;
        margin: 20px;
    }
    #nav-content a:hover{
        text-decoration: underline;
        transition: 0.5s;
    }
      
    /*チェックがついたら表示させる*/
    #nav-input:checked ~ #nav-close {
        display: block;
        opacity: .5;
    }
      
    #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
      
    .header-logo-menu{
       display: flex;
       display: -moz-flex;
       display: -o-flex;
       display: -webkit-flex;
       display: -ms-flex;
       flex-direction: row;
       -moz-flex-direction: row;
       -o-flex-direction: row;
       -webkit-flex-direction: row;
       -ms-flex-direction: row;
       padding: 20px;
    }
      
    /*ロゴやサイトタイトルをセンタリング*/
    .logo-area{text-align:center;margin:auto;}

    #works h2{
        font-size: 80px;
        padding-top: 30px;
    }
    .portfolio a{
        padding: 8px 50px;
        border-radius: 15px;
        text-align: center;
        margin: 0 auto;
    }
    .portfolio{
        margin-top: 80px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width:540px){
    .aboutlist{
        width: 100%;
    }
    .exp p{
        font-size: 13px;
    }

    .button{
        padding: 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .gf{
        text-align: center;
    }
    .gf a{
        color: #ffffff;
        font-size: 18px;
        font-family: futura;
        text-decoration: none;
        border: #ffffff solid 3px;
        padding: 10px 12%;
        border-radius: 15px;
        margin: 0 auto;
        display: inline-block;
    }
    .button h3{
        font-size: 20px;
        font-family: futura;
        margin: 75px auto 10px;
        color: #ffffff;
        text-decoration: underline;
    }
    .sns{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .sns a{
        text-decoration: none;
        border-bottom: #031116 solid 10px;
    }
    .sns p{
        font-family: futura;
        font-size: 10px;
    }
    .snssp{
        width: 100%;
    }
}
@media screen and (max-width:479px){
    .sp{
        width: 100%;
    }
    #works h2{
        font-size: 50px;
    }
    footer{
        font-size: 5px;
    }
}

@media screen and (max-width:479px){
    .fadeslide {
        width: 256px;
        height: 144px;
        overflow: hidden;
        z-index: 0;
    }
}

