*{
    margin: 0;
    padding: 0;
}

p{
    text-decoration: none;
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    float: right;
    padding-right: 38px;
}
p:hover{
    color: #000000;
    transition: 0.5s;
}

h1{
    font-family: Futura;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 38px;
}

.thumbnail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dissolve{
    width: 47%;
    margin: 5px;
    position: relative;
}
.dissolve .caption{
    position: absolute;
    padding: 30px;
    background-color: #ffffff;
    top: 0px;
    width: 95%;
    height: 92%;
    opacity: 0;
}
.dissolve .caption:hover{
    opacity: 0.9;
    transition: 0.3s;
}
.caption p{
    color: #333333;
    font-family:Arial, Helvetica, sans-serif;
}
.thumbnail img{
    width: 100%;
    border: #333333 solid 1px;
}

footer{
    color: #aaaaaa;
    text-align: center;
    padding: 50px 0 10px;
}

@media screen and (max-width:479px){
    h1{
        font-size: 20px;
        margin: 10px;
    }
    .thumbnail img{
        width: 94%;
    }
}